[Unit]
Description = Comctl daemon

[Service]
# The RtoL-Request driver can be accessed to SD card or eMMC device.
# This shell script changes the target to be mounted by the boot mode.
# If mount point with each device could not be mounted, the comctld deamon 
# will be executed forcibly.
ExecStartPre=-/bin/bash /lib/systemd/system/automount_rtol.sh
ExecStart = /usr/bin/comctld
Type = forking
Restart = no

[Install]
WantedBy=multi-user.target
